body {
    background-color:black;
    color:gray;
}

header, main, nav, footer, #content {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}


nav a {  /*links within "nav" container */
    padding:15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none;  /* removes underline */
    color: white;           /* by default, links are blue */
}

nav a:hover, #current { /*pseudo class*/
    border-bottom:2px orange solid;
    font-size: 2em;
    transition: .9s; /* transition effect */
}

#me, #welcomeText {
    float:left;
}

#welcomeText {
    text-align: left;
    font-size: 1.3em;
}

#me {
    border-radius:100px;
}

#header {
    text-align: center;
    color: white;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}

footer {
    clear: left;
    font-size: .8em;
    color: white;
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: orange;
}

#table-header {
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
}

ul {
    text-align: left;
    padding-left: 200px;
}

.hobby {
    color: yellow;
}