#header, #welcomeText {
    margin-right: 500px;
    text-align:left;
}

body {
    background-color: #ffffcc;
}

#csumbLogo {
     width:50;
}

footer{
    font-family: "Times New Roman", Georgia, Serif;
    font-size:.8em;
    width:600px;
    margin:0 auto;
    padding-top:10px;
}
